@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
/* HEADER START*/
.header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header i{
  margin-top: 10px;
  cursor: pointer;
  margin-left: 20px;
}
.header .left-side a{
  display: inline-block;
  margin: 0px 20px;
  color: #161616;
  font-size: 1em;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
}
.header .left-side a:hover{
  color: black;
  border-bottom: 1px solid #161616;
}
.header .right-side .register{
  padding: 10px 18px;
  border-radius: 18px;
  border: 1.5px solid black;
  background-color: white;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.2s background-color, 0.2s color;
}
.header .right-side .register:hover{
  background-color: black;
  color: white;
}
.header .right-side .login{
  padding: 10px 18px;
  border-radius: 18px;
  border: 1.5px solid black;
  background-color: white;
  margin: 0px 15px;
  cursor: pointer;
  transition: 0.2s background-color, 0.2s color;
}
.header .right-side .login:hover {
  background-color: black;
  color: white;
}
/*HEADER END*/

/*MAIN START*/
.main{
  display: flex;
  
}
.main .left-side{
   max-width: 550px;
}
.main .left-side .main-text,
.main .left-side p,
.main .left-side button,
.main .left-side a{
  margin-left: 100px;
}
.main .left-side .main-text{
  font-size: 4em;
  margin: 70px 0 50px 100px;
  line-height: 70px;
  letter-spacing: 2px;
}
.main .left-side p{
  font-weight: 600;
  color: #161616 ;
  margin-bottom: 40px;
}
.main .left-side button{
  padding: 10px 18px;
  border-radius: 15px;
  border: 1.5px solid black;
  background-color: black;
  cursor: pointer;
  color: white;
  transition: 0.2s background-color, 0.2s color;
}
.main .left-side button:hover{
  color: black;
  background-color: white;
  
}
.main .right-side img{
  position: absolute;
  right: 120px;
  width: 30%;
  background-size: contain;
}

/*MAIN END*/
/*FOOTER START*/
.main .logos{
  display: flex;
}
.main .logos a{
  width: 20px;
  margin-top: 50px;
  margin-right: 15px;
}
/*FOOTER END*/
